<!DOCTYPE html>
<html lang="ja">
 <head>
 <meta charset="utf-8">
 <title>log in</title>
 <meta name="description" content="ディスクリプションを入力">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet"  href="style.css">
 <!-- [if lt IE 9] -->
 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
 <!-- [endif] -->
 <script src="main.js"></script>
 </head>
 <body id="login">
 <!----- header----->
 <!----- /header ----->
 
 <!----- main ----->
 <form action="./index.html" method="get" name="login_form">
    <div class="login_form_top" size="width">
      <h1>log in </h1>
      <img src="map.png" class="resize_image01">
    </div>
    <div class="login_form_btm">
      <input type="id" name="user_id" placeholder="Email Adress or User ID"><br>
      <input type="password" name="password" placeholder="Password">
    </div>
    <button type="submit" class="submit" id="enter">ENTER</button>
    <button type="submit" class="submit" id="signup">Sign up</button>
  </form>
 <!----- /main ----->
 
 <!----- footer ----->
 <!----- /footer ----->
 </body>
</html>
