doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/stylesheets/loginstyle.css')

  body#login
      .container
        form(action='"/login"' method='post' name='login_form')
          .form-group.login_form_top(size='width')
            h1 log in 
            img.resize_image01(src='/images/map.png')
          .form-group.login_form_btm
            input.form-control(type='text' name='username' placeholder='Email Adress or User ID')
            br
            input.form-control(type='password' name='password' placeholder='Password')
          button#enter.button.btn.submit(type='submit') ENTER
          button#signup.submit(type='submit') Sign up
          &nbsp;
    script(src='http://code.jquery.com/jquery.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')